<!DOCTYPE html>
<html ng-app="ToDo">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
   <!-- Compiled and minified CSS -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body dir= "rtl" ng-controller="MainController">
    <nav>
        <div class="nav-wrapper">
          <span  class="brand-logo center">ToDo Boom</span>
        </div>
      </nav>
<div class="container">
  <center>
      <p>רשימות לעצלנים...כי למי יש כוח לאסוף מידע בעצמו</p>
      <p>אנא בחר בקטגוריה של הרשימה אותה אתה מחפש:</p>
  </center>

  
  <div class="row">
      <div ng-repeat="Category in categories" class="col s3">
        <div class="card hoverable">
          <div  class="card-image">
            <img src={{Category.image}}>
            <span class="card-title">{{Category.name}}</span>
          </div>
          <div class="card-content">
            <p>{{Category.name}}</p>
          </div>
          <div class="card-action">
            <a class="modal-trigger" href={{Category.modal}}>לצפייה ברשימות</a>
          </div>
        </div>
      </div>
    </div>
  
  
  
  
    <div id="shopping" class="modal">
        <div class="modal-content" dir="rtl">
          <img class="activator" src=".\\resources\\shopping.jpg">
          <h4 class="center-align">קניות</h4>

          <ul class="collapsible popout" data-collapsible="accordion" dir="rtl">
              <li ng-repeat="shoppinglist in shoppingLists">
                <div class="collapsible-header"><i class="material-icons">done_all</i>{{shoppinglist.name}}</div>
                <div class="collapsible-body">
                  <ul>
                    <li ng-repeat="item in shoppinglist.items">{{item}}</li>
                  </ul>
                </div>
              </li>
            </ul>
        </div>
        <div class="modal-footer">
          <center>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">סגור</a>
          </center>
          
        </div>
      </div>

      <div id="army" class="modal">
          <div class="modal-content" dir="rtl">
            <img class="activator" src=".\\resources\\army.jpg">
            <h4 class="center-align">צבא</h4>
  
            <ul class="collapsible popout" data-collapsible="accordion" dir="rtl">
                <li ng-repeat="armylist in armyLists">
                  <div class="collapsible-header"><i class="material-icons">done_all</i>{{armylist.name}}</div>
                  <div class="collapsible-body">
                    <ul>
                      <li ng-repeat="item in armylist.items">{{item}}</li>
                    </ul>
                  </div>
                </li>
              </ul>
          </div>
          <div class="modal-footer">
            <center>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">סגור</a>
            </center>
            
          </div>
        </div>

        <div id="travel" class="modal">
            <div class="modal-content" dir="rtl">
              <img class="activator" src=".\\resources\\travel.jpg">
              <h4 class="center-align">טיולים</h4>
    
              <ul class="collapsible popout" data-collapsible="accordion" dir="rtl">
                  <li ng-repeat="travellist in travelLists">
                    <div class="collapsible-header"><i class="material-icons">done_all</i>{{travellist.name}}</div>
                    <div class="collapsible-body">
                      <ul>
                        <li ng-repeat="travelitem in travellist.items">{{travelitem}}</li>
                      </ul>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="modal-footer">
              <center>
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">סגור</a>
              </center>
              
            </div>
          </div>

          <div id="other" class="modal">
              <div class="modal-content" dir="rtl">
                <img class="activator" src=".\\resources\\else.jpg">
                <h4 class="center-align">אחר</h4>
      
                <ul class="collapsible popout" data-collapsible="accordion" dir="rtl">
                    <li ng-repeat="otherlist in otherLists">
                      <div class="collapsible-header"><i class="material-icons">done_all</i>{{otherlist.name}}</div>
                      <div class="collapsible-body">
                        <ul>
                          <li ng-repeat="otheritem in otherlist.items">{{otheritem}}</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
              </div>
              <div class="modal-footer">
                <center>
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">סגור</a>
                </center>
                
              </div>
            </div>
  
  
  
</div>
<!-- Compiled and minified JavaScript -->

        

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="lists.js"></script>
</body>
</html>
